<main class="posts">
  <div class="container posts__container">
    <ul class="posts__list">
      <% posts.reverse().forEach((post, i) => { %>
      <!-- prettier-ignore -->

      <li class="posts__list-item <% if (i % 2 ===0) { %>posts--slide-left<% } else {%> posts--slide-right<% } %>" data-index="<%= i %>">
        <div class="posts__item">
          <div class="heading-box">
            <h3 class="heading-tertiary">@<span class="posts__user"><%= post.author %></span></h3>
            <span class="posts__date"><%= post.date %></span>
          </div>
          <p class="posts__text"><%= post.content %></p>
          <div class="posts__btn-container">
            <form action="/edit", method="post" class=posts__form-edit>
              <input type="hidden" name="index" value="<%= i %>">
              <input type="submit" value="Edit" class="btn"> 
            </form>
            <form action="/delete", method="post" class=posts__form-delete>
              <input type="hidden" name="index" value="<%= i %>">
              <input type="submit" value="Delete" class="btn"> 
            </form>
          </div>
        </div>
      </li>
      <% }) %>
    </ul>
  </div>
</main>
